@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap");
/* font sizes */
/* Colors */
/* Gaps */
/* Paddings */
/* border radiuses */
/* Gaps */
/* fonts */
/* font sizes */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

footer {
  width: 100%;
}

.company {
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
  width: 255px;
}

.about-us {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}

.list-items {
  width: 255px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  font-size: Inter;
  color: #eeeff4;
}

.col-1 {
  width: 255px;
  flex-shrink: 0;
}

.col-1,
.col-3 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}

.install-app {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}

.download-badge-google-play-b {
  position: relative;
  width: 162px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
}

.badges,
.big-footer {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}

.badges {
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

.big-footer {
  flex-direction: row;
  padding: 64px 0;
  justify-content: space-between;
}

.divider-icon {
  position: relative;
  width: 1440px;
  height: 1px;
  opacity: 0.1;
}

.landify-ui-kit {
  position: relative;
  line-height: 24px;
  display: inline-block;
  width: 540px;
  flex-shrink: 0;
}

.social-icons1 {
  position: relative;
  width: 32px;
  height: 32px;
}

.social-icons {
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.small-footer,
.social-icons,
.social-links {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}

.social-links {
  width: 540px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-end;
}

.small-footer {
  flex-direction: row;
  padding: 24px 0;
  align-items: center;
  font-size: 14px;
  color: #d9dbe1;
}

.footer-big-1,
.footer-big-1-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-big-1 {
  align-self: stretch;
  background-color: #0b0d17;
  justify-content: flex-start;
}

.footer-big-1-parent {
  position: relative;
  width: 100%;
  justify-content: center;
  text-align: left;
  font-size: 18px;
  color: #f4f5f7;
  font-family: "Poppins", sans-serif;
}

.login {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #8c30f5;
  text-align: center;
}

.button {
  cursor: pointer;
  border: 0;
  padding: 10px 20px;
  background-color: #f1e4ff;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.sign-up {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-align: center;
}

.button1,
.right-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.button1 {
  cursor: pointer;
  border: 0;
  padding: 10px 20px;
  background-color: #8c30f5;
  border-radius: 6px;
  align-items: center;
}

.right-nav {
  position: absolute;
  top: calc(50% - 20px);
  right: 165px;
  overflow: hidden;
  align-items: flex-start;
  gap: 14px;
}

.logotype-dark {
  position: relative;
  width: 105px;
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
}

.label {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}

.header-menu-default {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.essential-icons-chevron-down {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}

.header-menu-dropdown,
.left-nav,
.nav-items {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.header-menu-dropdown {
  align-items: flex-start;
  gap: 4px;
}

.left-nav,
.nav-items {
  align-items: center;
  gap: 32px;
}

.left-nav {
  position: absolute;
  top: calc(50% - 14px);
  left: 165px;
  align-items: flex-start;
}

.header-1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 1px 0 #e5e9f2;
}

.header-1-parent {
  position: relative;
  width: 100%;
  height: 72px;
  text-align: left;
  font-size: 14px;
  color: #18191f;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.navbar {
  padding: 1.5rem;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
  color: black;
  font-weight: bold;
}

body {
  background-image: url(imagenes/abstracto.png);
  background-size: auto;
  margin-left: 40px;
  margin-right: 40px;
}

.carousel-inner {
  padding: 1.2rem;
  display: flex;
  max-width: auto;
  height: auto;
}

#titulo {
  font-family: "Cinzel", serif;
  font-family: "Lobster", cursive;
  font-family: "Orbitron", sans-serif;
  font-family: "Rajdhani", sans-serif;
}

h2 {
  font-family: "Cinzel", serif;
  font-family: "Lobster", cursive;
  font-family: "Orbitron", sans-serif;
  font-family: "Rajdhani", sans-serif;
}

h5 {
  font-family: "Cinzel", serif;
  font-family: "Lobster", cursive;
  font-family: "Orbitron", sans-serif;
  font-family: "Rajdhani", sans-serif;
}

p {
  font-family: "Cinzel", serif;
  font-family: "Lobster", cursive;
  font-family: "Orbitron", sans-serif;
  font-family: "Rajdhani", sans-serif;
}

#reseñahistorica {
  background-image: url(imagenes/fachada-opaciti.jpg);
  background-size: cover;
  background-blend-mode: overlay;
  background-size: cover;
  color: rgb(12, 12, 12);
  justify-content: center;
  text-align: justify;
  padding: 20px;
  border-radius: 20px;
  border: 1.5px solid rgba(0, 0, 0, 0.267);
}

#inicio-sesion {
  background-image: url(imagenes/abstracto-tarjetas.jpg);
  background-size: cover;
  border-radius: 20px;
  border: 1.5px solid rgba(0, 0, 0, 0.267);
}

.boton1 {
  color: black;
  background-color: white;
  border: 1.5px solid rgba(0, 0, 0, 0.479);
  padding: 0.4rem 1rem;
  margin: 10px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  justify-content: right;
  text-align: right;
}

.boton1:hover {
  background-color: rgb(103, 88, 240);
}

.NUESTROS-PROGRAMAS {
  text-align: center;
}

.card {
  background-size: cover;
  border-radius: 10px;
  border-radius: 20px;
  border: 1.5px solid rgba(0, 0, 0, 0.267);
  margin: 2px;
}

.rounded-circle {
  width: 350px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.card-title {
  text-align: center;
  font-weight: bold;
}

.card-text {
  text-align: justify;
}

.card {
  border: none;
}

.contacto .container {
  max-width: 1000px;
  min-height: 100px;
  padding: 20px;
  text-align: center;
}

/*background-color: rgb(132, 165, 165)*/
.contacto .rectangulo {
  position: absolute;
  margin-inline: -5rem;
  background-image: url(imagenes/linea\ escolar.jpg);
  border-radius: 10px;
  margin: auto;
  border: solid white;
}

.contacto .titulo {
  color: white;
  font-size: 2rem;
}

.contacto .descripcion {
  color: white;
  font-size: 1rem;
  text-align: center;
}

.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 0.4rem 1rem;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.1s ease-in-out;
  justify-content: right;
  text-align: right;
}

.contacto button i {
  color: white;
  font-size: 1.2rem;
  transition: all 0.1s ease-in-out;
}

.contacto button:hover {
  background-color: rgb(103, 88, 240);
}

.contacto .row {
  display: flex;
  align-items: center;
}

.logo-container {
  margin: 10px;
  padding: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row a {
  color: white;
  max-width: 200px;
  max-height: 200px;
  padding: 0.4rem 1rem;
  margin: 10px;
  border: 0.3rem;
  border-radius: 100px;
}

.derechos-autor {
  font-size: 15px;
  color: gray;
  padding: 20px;
  text-align: center;
  justify-content: center;
  display: flex;
}/*# sourceMappingURL=styles.css.map */