
.navbar {
   padding: -5rem;
    background-color: transparent;
}


.navbar-collapse {
    align-items: center;
    justify-content: space-between;
    color: #6D7358; 
    font-weight: bold;
}



.logo-colegio img {
    color: white;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.2);
    /* Agrega una sombra */
    transition: transform 0.3s ease-in-out;
    /* Agrega una transición suave */
}

.logo-colegio img:hover {
    transform: translateY(-9px);
    /* Eleva la imagen 5px hacia arriba */
}
.logo-colegio {
    background: linear-gradient(to right, #F2F2F2,#6d735877);
    padding: 200px 15px 55px 50px;
    margin: 2px;
    display: flex;
    align-items: center;
}

.logo-content {
    margin-right: 20px;
}

.text-content {
    display: flex;
    flex-direction: column;

}

.text-content h3 {
    color: #6D7358;
   
    margin: 0;
}

.lista{
    display: flex;
    text-align: center;
    margin: 20px;
    padding: 30px;
    color: #6D7358;
    justify-content: space-between ;
    align-items: center;
    
}
.text-content i{
    font-size: 20px;
    color: #5E7314;

}

.ventajas ul{
    justify-content: center;
    padding: 20px 40px;
    margin: 10px;
}
body {
    
    background-size: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.carousel-inner {
    padding: 1.2rem;
    display: flex;
    max-width: auto;
    height: auto;

}
#titulo{
    font-family: 'Cinzel', serif;
        font-family: 'Lobster', cursive;
        font-family: 'Orbitron', sans-serif;
        font-family: 'Rajdhani', sans-serif;

        }
h2{
    color: #6D7358;
font-family: 'Cinzel', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Rajdhani', sans-serif;
}
h5{
    color: #6D7358;
    font-family: 'Cinzel', serif;
        font-family: 'Lobster', cursive;
        font-family: 'Orbitron', sans-serif;
        font-family: 'Rajdhani', sans-serif;
}
p{
    color: #6D7358;
    font-family: 'Cinzel', serif;
        font-family: 'Lobster', cursive;
        font-family: 'Orbitron', sans-serif;
        font-family: 'Rajdhani', sans-serif;
}
        


.reseñahistorica {
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border: 1.5px solid rgba(0, 0, 0, 0.267);
    padding: 50px;
    margin: 10px 40px;
}

#inicio-sesion{
    padding: 20px;
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.2);
    border-radius: 20px;border: 1.5px solid rgba(0, 0, 0, 0.267);
    }

.bi {
    
    font-size: 30px;
    

}

.usuario{
    padding: 10px;
    margin: 5px;
}

.input{
    padding: 0px 10px;
    margin: 0px;
    outline: none;
    border: none;
    color: black;
    border-bottom:solid 1px black;
}
    


.boton1{
        color:black;
        background-color: white;
        border: 1.5px solid rgba(0, 0, 0, 0.479);
        padding: 0.4rem 1rem;
        margin: 10px;
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
        justify-content: right;
        text-align: right;
}
.boton1:hover{
    background-color:rgb(103, 88, 240);
}
.video{
    width: 450px;
    padding: 10px;
    margin: 20px;
}
.instalaciones1{
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    border: 1.5px solid rgba(0, 0, 0, 0.082);
    justify-content: center;
    text-align: center;
    padding: 4px ;
    margin: 3px 3px;
    background: linear-gradient(to right, #F2F2F2, #6d735877);
}

.n-instalaciones{
    padding: 30px;
    margin: 10px;
    justify-content: center;


}
.instalaciones{
    padding: 10px;
        margin: 20px;
}

.NUESTROS-PROGRAMAS{
    text-align: center;
  
}
.card{
    
    background-size: cover;
    border-radius: 10px;
border-radius: 20px;
    border: 1.5px solid rgba(0, 0, 0, 0.267);
    margin: 2px;
}
.rounded-circle{

    width: 350px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.card-title{
text-align: center;
font-weight: bold;
}

.card-text{
text-align: justify;
}

.card{
    border: none;
}
.contacto .container {
    max-width: 1000px;
    min-height: 100px;
    padding: 20px;
    text-align: center;
}
  /*background-color: rgb(132, 165, 165)*/
.contacto .rectangulo {
    position: absolute;
    margin-inline: -5rem;
    background-image: url(imagenes/linea\ escolar.jpg);
    border-radius: 10px;
    margin: auto;
    border: solid white;

}
.contacto .titulo{
    color: white;
    font-size: 2rem;

}

.contacto .descripcion{
    color:white;
    font-size: 1rem;
    text-align: center;
}
.contacto button{
    color: white; font-weight: bold;
    background-color: transparent; border: 2px solid white;
    padding: 0.4rem 1rem; margin: 10px;
    border-radius: 100px;
    transition: all 0.1s ease-in-out;
    justify-content: right;text-align: right;
}
.contacto button i{
    color: white; font-size: 1.2rem;
    transition: all 0.1s ease-in-out;
}
.contacto button:hover{
    background-color:rgb(103, 88, 240);

}
.contacto .row {
    display: flex;
    align-items: center;
}
footer{
  
    background-color: black;
    border-radius: 10px;
    align-content: center;
   
}
.logo-container{
    margin: 10px;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parrafofooter{
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row a{
  color: white;
  max-width: 200px;
  max-height: 200px;
  padding: 0.4rem 1rem;
  margin: 10px; 
  border: 0.3rem;
  border-radius: 100px;
  
}
.derechos-autor{
    font-size: 15px;
    color: gray;
    padding: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
}
 /*pagina de servicios*/
#imagenes-servicios{
    width: 400px;
    position:relative;
}

.floating-button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    text-align: center;

}

#mainButton,
.subButton {
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;



}

#mainButton:hover {
    background-color: #232b3088;
}

.dropdown {
    display: none;
    position: absolute;
    bottom: 50px;


}

.dropdown .subButton {
    display: block;
    width: 50px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    text-align: center;
}

.dropdown .subButton:hover {
    background-color: #232b3088;
}

 body {
    background-color: white;
    color: black;
}

.modo-nocturno {
    background-color: black;
    color: white;
}

.text-center .sitemap {
    display: none;
}

.text-center .show {
    display: block;
}
body {
    font-size: 16px;
}

.duplicar {
    font-size: 20px;
}