#chatbot {
     font-family: 'Cinzel', serif;
        font-family: 'Lobster', cursive;
        font-family: 'Orbitron', sans-serif;
        font-family: 'Rajdhani', sans-serif;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}



#chatbot-window {
  display: none;
  width: 300px;
  height: 400px;
  background-color: white;
  border: 1px solid #0000007c;
  box-shadow: 0 10px 14px #2b2b407a;
  border-radius: 20px;
}

#chatbot-header {
  padding: 10px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  border-radius: 20px;
 
}

#chatbot-body {
  height: 330px;
  overflow-y: scroll;
  padding: 10px;
}

#chatbot-input {
  padding: 0px 10px;
    margin: 0px;
    outline: none;
    border: none;
   
    
}

#chatbot-input input {
  width: 70%;
  padding: 5px;
    outline: none;
    border: none;
    color: black;
    border-bottom:solid 1px black;
     background-color: transparent;

   
}

#chatbot-input button {
  padding: 5px 10px;

}

button{
     color:black;
        background-color: white;
        border: 1.5px solid rgba(0, 0, 0, 0.479);
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
        justify-content: right;
        text-align: right;
  
}
button:hover{
     background-color:rgb(103, 88, 240);
}

/* Estilos adicionales para personalizar el chatbot */



