

.im-libros{
width: 100px;
  

}


.tarjetas-1{
   
    background: linear-gradient(to right, #f2f2f2,#d0caf893,#D0CAF8);
    padding:1rem;
    margin: 1.5rem;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 10px 14px #2b2b40;
    
}
#img-tarjetas{
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 10px;
    
}
.text-car{
    text-align: justify;
}